body {
  background-color: gray;
}
.imageContainer {
  display: inline-block;
  position: relative;
  text-align: center;
}
.boxx {
  border: 1px solid red;
  position: absolute;
  background-color: rgba(255, 0, 0, 0.2); /* Optional: gives the area a light red color */
}
